body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
main {
    margin-top: 100px;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap:32px;
}
section>a {
    display: block;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5rem ;
    line-height: 28px;
    color: #000;
    margin-bottom: 24px;
    padding: 0 10px 
}
section>a:hover {
    text-decoration: underline;
}
.material-symbols-outlined {
    font-size: 1.5rem !important;
}
.divider {
    background-color: #e0e0e0;
    height: 22px;
    margin: 0 20px;
    width: 1px;
    display: none;
}
.badge.budget-hotel {
    background-color: #f2b203;
    color: #ffffff;
}
.badge.casino-hotel {
    background-color: #3366cc;
    color: #ffffff;
}
.badge.spa-hotel {
    background-color: #ff66cc;
    color: #ffffff;
}
.badge {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.75rem;
}
/* horizontal scroll container */
.gallery-container {
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    overflow-x: auto;
    padding: 0 10px;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
   /* for Internet Explorer, Edge */
    scrollbar-width: none;
   /* for Firefox */
}
.gallery-container::-webkit-scrollbar {
    display: none;
   /* for Chrome, Safari, and Opera */
}
.gallery-container-item {
    scroll-snap-align: center;
    position: relative;
    box-sizing: border-box;
    width: calc(100% - 8px);
}
.gallery-container-item>img {
    width: 100%;
    height: auto;
}
.gallery-container-item > .description {
    padding: 10px 0 0;
    margin-bottom: -4px;
}
.gallery-container-item > .description>a {
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 4px;
    display: block;
}
.gallery-container-item > .description>a:hover {
    text-decoration: underline;
}
.gallery-container-item > .description > .location {
    padding-top: 2px;
    font-size: 0.75rem;
    line-height: 16px;
    display: block;
    margin-bottom: 4px;
    color: #8c8c8c;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* Tablet styles */
@media (min-width: 768px) {
    .gallery-container {
        grid-auto-columns: calc(50% - 2rem);
   }
    .divider {
        display: inline-block;
   }
}
/* Desktop styles */
@media (min-width: 1024px) {
    main{
        max-width: 1016px;
   }
    .gallery-container {
        grid-auto-columns: 25%;
   }
}
