/* css style for browse page/hotels */
.hotels {
    max-width: 1280px;
    margin: 0 auto;
    margin: 100px auto 0 auto;
}
.rating {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    padding-top: 2px;
}
.rating>span {
    font-size: 0.75rem;
    line-height: 16px;
    color: #8c8c8c;
}
.rating svg {
    display: none;
}
/* section grid and list view feature content */
.section-by-interest {
    padding: 20px;
}
.section-by-interest>p {
    color: #333;
    margin-bottom: 20px;
}
/* by default it will be a list view using grid on mobile device */
.grid-wrapper>ul {
    display: grid;
}
.grid-wrapper>ul>li {
    position: relative;
}
.grid-wrapper>ul>li>.image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}
.grid-wrapper>ul>li>.image-container>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-wrapper>ul>li>.label {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .6) 0, rgba(0, 0, 0, .6)calc(100% - 24px), rgba(0, 0, 0, 0)100%);
    color: white;
    width: 100%;
    letter-spacing: .02em;
    font-size: 1.5rem;
    padding: 10px;
}
/* Tablet styles */
@media (min-width: 768px) {
   /* the grid wrapper will turn in to grid view from list view on tablet and larger screen sizes*/
    .grid-wrapper>ul {
        grid-template-columns: 1fr 1fr 1fr;
   }
}
/* Desktop styles */
@media (min-width: 1024px) {
    .rating svg {
        display: block;
   }
    .rating>span {
        margin-left: 10px;
   }
}
