/* css style for browse page/hotels */
.hotels {
    max-width: 1280px;
    margin: 0 auto;
    margin: 100px auto 0 auto;
}
.rating {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    padding-top: 2px;
}
.rating>span {
    font-size: 0.75rem;
    line-height: 16px;
    color: #8c8c8c;
}
.rating svg {
    display: none;
}
/* Desktop styles */
@media (min-width: 1024px) {
    .rating svg {
        display: block;
   }
    .rating>span {
        margin-left: 10px;
   }
}
