body {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    padding: 24px;
    margin-top: 100px;
    max-width: 1016px;
    margin: 100px auto 0 auto;
}
.detail {
    margin-bottom: 24px;
}
.detail-info> :first-child {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.detail-info-title {
    flex: 1;
}
.add-to-trips-button {
    background: none;
    border: 2px solid black;
    border-radius: 16px;
    padding: 4px;
    min-height: 32px;
    height: 32px;
    cursor: pointer;
}
.material-symbols-outlined {
    font-size: 20px !important;
}
.detail-info-bottom {
    display: flex;
    align-items: center;
    color: #333;
}
.detail-info-reviews, .detail-info-reviews>a, .detail-info-location, .detail-info-category {
    display: flex;
    align-items: center;
    gap: 5px;
}
.show-prices-button {
    background-color: #f2b203;
    border-radius: 24px;
    padding: 14px 24px;
    cursor: pointer;
}
.detail-info-location>a:hover {
    text-decoration: underline;
}
.divider {
    background-color: #e0e0e0;
    height: 22px;
    margin: 0 20px;
    width: 1px;
}
.detail-info-bottom> :first-child {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.detail-image-container {
    margin-top: 24px;
}
.detail-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 468px;
}
.detail-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detail-image-bottom {
    display: flex;
    gap: 3px;
    margin-top: 3px;
}
.detail-image-bottom>div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 208px;
    flex: 1;
}
.detail-image-bottom>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review-item {
    padding: 16px 24px 12px;
    border: 1px solid #e0e0e0;
    margin: 12px 0;
}
.user-info {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 12px;
}
.user-name:hover {
    text-decoration: underline;
}
.user-location {
    font-size: 12px;
    line-height: 16px;
    color: #757575;
    display: flex;
    align-items: center;
}
.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.review-rating {
    padding: 12px 0 0;
}
.review-title {
    font-size: 18px;
    line-height: 22px;
    margin: 8px 0;
    font-weight: 700;
}
.review-title:hover {
    text-decoration: underline;
}
.review-description {
    color: #333;
    line-height: 20px;
    margin-bottom: 12px;
}
.review-stay-date {
    font-size: 14px;
}
