.about-us {
  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .choose-us {
    ul {
      margin-top: 10px;
      text-align: left;
      list-style: disc; /* Bullet style */
      padding-left: 20px; /* Left padding for list items */
    }

    ul li {
      margin-bottom: 10px; /* Bottom margin between list items */
    }
  }

  .about-description {
    background-color: #9ae5b6;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(154, 229, 182, 0.5);
  }

  @media #{$brk-narrow} {
    section {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    .grid-item-1 {
      order: 1; 
    }

    .grid-item-2 {
      order: 2; 
    }
  }
}
