.search-container {
  background-color: blanchedalmond;

  &-inner {
    position: relative;
    height: 348px;

    > img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.search-background {
  width: 100%;
}

.search-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;

  .input-wrapper {
    display: flex;

    .search-input {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
    }
  }
}
