.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  margin-top: 100px;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media #{$brk-wide} {
    max-width: 1016px;
  }
}

section {
  .section-title {
    display: block;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 28px;
    color: $color-text-dark;
    margin-bottom: 24px;
    padding: 0 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.horizontal-scroll-container {
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  overflow-x: auto;
  padding: 0 10px;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */

  &::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }

  @media #{$brk-narrow} {
    grid-auto-columns: calc(50% - 2rem);
  }

  @media #{$brk-wide} {
    grid-auto-columns: 25%;
  }
}

.horizontal-scroll-item {
  scroll-snap-align: center;
  position: relative;
  box-sizing: border-box;
  width: calc(100% - 8px);

  img {
    width: 100%;
    height: auto;
  }

  .description {
    padding: 10px 0 0;
    margin-bottom: -4px;

    a {
      font-size: 1rem;
      line-height: 20px;
      margin-bottom: 4px;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }

    .location {
      padding-top: 2px;
      font-size: 0.75rem;
      line-height: 16px;
      display: block;
      margin-bottom: 4px;
      color: $color-text-medium;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.card {
  background-color: $color-body;
  border-radius: 5px;
  transition: background-color 0.3s ease, padding 0.3s ease;

  &:hover {
    padding: 10px;
    background-color: $peach;
  }

  &:active {
    background-color: #bfbfbf;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  }
}
