footer {
  padding: 32px 24px;
  background-color: $peach;
  margin-top: 24px;

  > :first-child {
    max-width: 1016px;
    margin: 0 auto;
  }

  .footer-top {
    display: flex;
    gap: 16px;
    margin-bottom: 6px;
  }

  .footer-text {
    font-size: 0.75rem;
  }

  .footer-links {
    span {
      margin-right: 16px;
    }
  }

  .footer-link-item {
    color: $color-text-dark;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $color-text-strong;
      text-decoration: underline;
    }

    &:active {
      color: $jungle-green;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
    }
  }

  .footer-disclaimer {
    font-size: 0.75rem;

    p {
      margin-bottom: 1em;
    }
  }
}
