header {
    padding: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-body ;
    z-index: 1;

    nav {
        display: flex;
        align-items: center;
        max-width: 100%;
        width: calc(1136px + 24px * 2);
        margin: 0 auto;
        justify-content: space-between;
    }
}

.link-container {
    display: none;
}

.secondary-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    font-size: 0.875rem;
    color: $color-text-light;

    .secondary-nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        &::after {
            content: ">";
            color: $color-text-light;
            margin: 0 8px;
            font-size: 0.625rem;
        }

        &:last-child::after {
            content: "";
            margin: 0;
        }

        display: inline-block;
        cursor: pointer;
    }
}

/* Desktop styles */
@media (min-width: 1024px) {
    .hamburger-menu-icon {
        display: none !important;
    }

    .header-logo {
        flex: 1;
    }

    .link-container {
        display: flex;
        gap: 24px;
        align-items: center;
        margin-left: 24px;
    }

    .secondary-nav {
        padding-left: 12px;
    }
}