@mixin text($size, $l-height: null, $weight: null, $color: null) {
  font-size: $size;
  line-height: $l-height;
  font-weight: $weight;
  color: $color;
}

@mixin badge($background-color) {
  background-color: $background-color;
  color: $color-text-badge;
}
