@use 'sass:map';

// Descriptive color variables
$white: #fff;
$black: #000;
$light-gray: #e0e0e0;
$grey: (
  100: #888888,
  300: #8c8c8c,
  500: #757575,
  700: #333333,
);
$golden-yellow: #f2b203;
$hot-pink: #ff66cc;
$royal-blue: #3366cc;
$peach: #faf1ed;
$jungle-green: #027f3e;

// Functional color variables
$color-text-light: map.get($grey, 100);
$color-text-medium: map.get($grey, 300);
$color-text-strong: map.get($grey, 500);
$color-text-base: map.get($grey, 700);
$color-text-dark: $black;
$color-body: $white;
$color-divider: $light-gray;
$color-text-badge: $white;

// badge
$badge-colors: (
  budget-hotel: $golden-yellow,
  casino-hotel: $royal-blue,
  spa-hotel: $hot-pink,
);
$badge-position: (
  top: 20px,
  right: 20px,
);
$badge-padding: 4px 8px;
$badge-border-radius: 4px;
$badge-font-size: 0.75rem;

// Font stacks
$stack-sans-serif: Helvetica, Arial, sans-serif;
$stack-arial: Arial, Helvetica, sans-serif;

// Media query breakpoints

$brk-narrow: '(min-width: 768px)';
$brk-wide: '(min-width: 1024px)';
